*{
    margin: 0;
    padding: 0;
}


.list .card {
    margin: 20px;
}
.list .card img{
    height: 180px;
    margin-top: 5px;
}

/*Product Details CSS*/
.details-body {
    background-color: bisque;
}
.container {
    margin-top: 100px;
    background-color: rgb(78, 183, 187);
    padding: 20px;
}
.col-md-5 img {
    height: 400px;
}
.col-md-7 .rating {
    width: 100px;
    height: 30px;
}
.col-md-7 input {
    width: 30px;

}
.col-md-7 button {
    background-color: orange;
    border-radius: 10px;
    margin-left: 10px;
}
.col-md-7 button:hover {
    background-color: #ff1e00e6;
    color: white;
}

/*cart Css*/
.cart-container {
    padding: 100px;
    padding-bottom: 0px ;
}
.cart-head1 , .cart-head2 , .cart-head3 { 
    color: white;
    background-color: brown;
}
.cart-head1 , .cart-head2 , .cart-head3 h5 {
    margin: 0;
}
.cart-image {
    width: 100%;
    height: 100%;
}
.cart-product-details {
    margin: 0;
    padding: 0;
}
.input {
    text-align: center;
    border-radius: 20px;
    margin-top: 50px;
}
.table {
    font-size: 40px;
    font-weight: bold;
    padding: 0px 100px;
    text-align: right;
    display: flex;
    flex-direction: column;
}
.button {
    margin: auto;
    padding: 20px;
    background-color: blueviolet;
    width: 400px;
    text-align: center;
    font-size: 30px;
    color: white;
    border-radius: 20px;
    border: 0;
}
/*Check-Out CSS*/
.checkout-container { 
    padding: 10px;
    margin: auto;
    border-radius: 10px;
}
.last-button {
    display: inline-block;
    text-decoration: none;
    background-color: deeppink;
    width: 100%;
    border-radius: 20px;
    padding: 10px 20px;
    text-align: center;
    color: white;
    font-size: 20px;
    border: 0;
}
.checkout-items {
    background-color: white; 
    padding:15px 15px 10px 15px; 
    margin-bottom: 5px; 
    border-radius: 15px;
}

/*invoice CSSS*/
.invoice-container {
    text-align: center;
    margin-top: 20px;
}
.invoice-container img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.Invoice-item1 {
    background-color: rgb(209, 104, 104);
    margin: auto;
    height: 60px;
}
.Invoice-item1 h5 {
    margin-top: 18px;
    padding-left: 30px;
}
.Invoice-item2 {
    background-color: rgb(218, 218, 218);
    margin: auto;
    height: 60px;
}
.Invoice-item2 h5 {
    margin-top: 18px;
    padding-left: 30px;
}
.Invoice-item3 {
    background-color: rgb(255, 255, 255);
    margin: auto;
    height: 60px;
}
.Invoice-item3 h5 {
    margin-top: 18px;
    padding-left: 30px;
}
.Invoice-item4 {
    background-color: rgb(218, 218, 218);
    margin: auto;
    height: 60px;
}
.Invoice-item4 h5 {
    margin-top: 18px;
    padding-left: 30px;
}
.invoice-footer {
    margin-top: 20px;
    line-height: 10px;
    width: 100%;
    margin-left: 90px;
}

